@media(max-width: 1662px){.ss{flex-wrap: wrap; justify-content: center;}
@media(max-width: 1662px){.cc4  {margin-top: 25px;}}
@media(max-width: 1662px){.cc3  {margin-top: 25px;}}
@media(max-width: 1380px){.bed{width: 320px}}
@media(max-width: 1132px){.bed{display: none;}}
@media(max-width: 1662px){.cc2  {margin-top: 25px;}}
@media(max-width: 985px){.photo1{width: 130px; margin-right: 8px;}}
@media(max-width: 985px){.photo2{width: 130px}}
@media(max-width: 985px){.photo3{width: 168px}}
@media(max-width: 904px){.uldiv{display: none;}}
@media(max-width: 1072px){.ap{width:250px; height: 250px }}
@media(max-width: 628px){.a{font-size:12px; margin-left: 0px }}
@media(max-width: 628px){.aa{font-size:16px; margin-left: 0px}}
@media(max-width: 800px){.photo1{display: none;}}
@media(max-width: 800px){.photo2{display: none;}}
@media(max-width: 800px){.photo3{display: none;}}
@media(max-width: 500px){.kk{font-size: 12px}}
@media(max-width: 500px){.wrap4{padding-left: 18px}}
